---
import {Icon} from 'astro-icon/components';
import {cn} from '@/lib/utils';
import Tags from '~/components/ui/Tags.astro';


import type {BlogPost} from '@/types/blog';

export interface Props {
    post: BlogPost;
}

const {post} = Astro.props;
---

<section class='py-8 sm:py-16 lg:py-20 mx-auto'>
    <article>
        <header
            class='space-y-4 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'>
            <h1
                class='px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading'>
                {post.title}
            </h1>
            <div
                class='flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center'>
                <span class='flex items-center'>
                    <Icon name='tabler:calendar' class='w-4 h-4 inline-block -mt-0.5 mr-2 dark:text-gray-400' />
                    <time datetime={String(post.date)} class='inline-block'>{post.date}</time>
                </span>
                {
                    post.wordCount && (
                        <span class='flex items-center'>
                            <Icon
                                name='tabler:file-word'
                                class='w-4 h-4 inline-block -mt-0.5 mr-2 dark:text-gray-400'
                            />
                            {post.wordCount.toLocaleString()} words
                        </span>
                    )
                }
                {
                    post.readingTime && (
                        <span class='flex items-center'>
                            <Icon name='tabler:clock' class='w-4 h-4 inline-block -mt-0.5 mr-2 dark:text-gray-400' />
                            {post.readingTime}
                        </span>
                    )
                }
                <!-- {
                    post.lastUpdated && (
                        <span class='flex items-center'>
                            <Icon name='tabler:history' class='w-4 h-4 inline-block -mt-0.5 mr-2 dark:text-gray-400' />
                            <time datetime={String(post.lastUpdated)} class='inline-block'>
                                Updated {post.lastUpdated}
                            </time>
                        </span>
                    )
                } -->
            </div>
        </header>
        <div class='mx-auto px-6 sm:px-6 max-w-3xl my-4  flex justify-between flex-col sm:flex-row'>
            <Tags tags={post.tags} maxVisible={200} />
        </div>
        <div
            class='mx-auto px-6 sm:px-6 max-w-3xl prose prose-md prose-pre:p-[1px] prose-pre:rounded-none lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0'>
            <section
                class={cn(
                    'p-6 pt-0 rounded-lg ',
                    'border border-slate-400 dark:border-dark-lighter',
                    'hover:scale-101 backdrop-blur-sm transition-colors duration-300',
                    'bg-white dark:bg-dark',
                    'text-gray-900/90 dark:text-gray-300',
                    'hover:border-purple-300 dark:hover:border-purple-500/30'
                )}>
                <Fragment class='break-all' set:html={post.content} />
            </section>
        </div>
    </article>
</section>
