---
import { Icon } from 'astro-icon/components';

import Tags from '~/components/ui/Tags.astro';

import { getPermalink } from '~/utils/permalinks';

import type {WeeklyPost} from '@/types/weekly';
import { remark } from 'remark';
import html from 'remark-html';

export interface Props {
  post: WeeklyPost;
}
async function processMarkdown(markdownString) {
  const result = await remark()
    .use(html)
    .process(markdownString);
  return result.toString();
}

const { post } = Astro.props;
const {content,...rest} = post
const contentHtml = await processMarkdown(content);
console.log('rest',rest)
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header
      class='intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'
    >
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.date)} class="inline-block">{post.date}</time>
          {
            post.category && (
              <>
                <a class="hover:underline inline-block" href={getPermalink(post.category, 'category')}>
                  {post.category}
                </a>
              </>
            )
          }
          {
            post.readingTime && (
              <>
                &nbsp;· <span>{post.readingTime}</span> min read
              </>
            )
          }
        </p>
      </div>

      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {post.title}
      </h1>

    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
    >
    <Fragment set:html={contentHtml} />
    </div>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <Tags tags={post.tags} maxVisible={200} />
    </div>
  </article>
</section>
